.A{color:yellow;
	margin-top:288;
	text-align:center;
	font-size:150px;
	}
body
{background-color:blue;
text-align:center;
background-image:url("123.jpg");
}

.c{color:red;}
.d{color:yellow;}
.e{color:red;} 
.B{color:orange;

